{% extends 'base.html' %}

{% block title %}
    Comprobantes de Actividad
{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}

    <div class="row row-centered">
        <div class="col-md-4 col-centered">

            <h2>Comprobantes</h2>
            <h5>{{ Error }}</h5>

            <form method="post" accept-charset="utf-8" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <!-- Render the field label tag -->
                        {{ field.label }}
                        {{ field }}
                        <!--  muestra los errores que halla en los fields -->
                        {% if field.errors %}
                            <p class="text-danger">
                                {% for error in field.errors %}
                                    {{ error }}
                                {% endfor %}
                            </p>
                        {% endif %}
                    </div>
                {% endfor %}
                <button class="btn btn-primary m-b pull-right" type="submit" name="preregistro_form">Enviar
                </button>
            </form>

        </div>
    </div>

{% endblock %}

{% block scripts %}

{% endblock %}