{% extends 'base.html' %}

{% block title %}
    Preregistro
{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}

    <div class="row row-centered">
        <div class="col-sm-10 col-centered">
            <div class="col-sm-8">
                <h1>Preregistro</h1>

                <h3>{{ preregistro.nombre }}</h3>
                <h5>{{ preregistro.email }}</h5>
                <h5>{{ preregistro.telefono }}</h5>
                <h5>{{ preregistro.escuela }}</h5>
                <a href="{% url 'preregistros_app:generar_matricula' preregistro.id %}" class="btn btn-primary">Generar
                    Matrícula</a>
            </div>
            <div class="col-sm-4">
                <h4>Comprobante de Estudios</h4>
                <a href="{{ preregistro.comprobante_estudios.url }}">
                    <img class="img-responsive img-rounded" src="{{ preregistro.comprobante_estudios.url }}"
                         alt="Comprobante de Estudios"/>
                </a>
            </div>

            <div class="col-sm-12">
                <hr/>
                <h4>Comprobante(s) de Actividad</h4>
                {% if comprobantes_actividad.count == 0 %}
                    <h5>No hay Comprobantes de actividad</h5>
                {% endif %}
                {% for comprobante in comprobantes_actividad %}
                    <div class="col-sm-4">
                        <a href="{{ comprobante.comprobante_actividad.url }}">
                            <img class="img-responsive img-rounded" src="{{ comprobante.comprobante_actividad.url }}"
                                 alt="Comprobante de Actividad"/>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

{% endblock %}