{% extends 'base.html' %}

{% block title %}
    Preregistro Exitoso
{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <div class="jumbotron">
                <h1>
                    Felicidades
                </h1>

                <p>Tu Pre Registro ha sido enviado correctamente</p>
                <small>Te enviaremos un correo cuando seas aceptado</small>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

{% endblock %}