{% extends 'base.html' %}

{% block title %}
    Inicia Sesión
{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}

    <div class="row row-centered">
        <div class="col-md-4 col-centered">
            {% if preregistro_form %}
                <h2>Pre Registro</h2>
                <h5>{{ Error }}</h5>
                <form method="post" accept-charset="utf-8" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% for field in preregistro_form %}
                        <div class="form-group">
                            <!-- Render the field label tag -->
                            {{ field.label }}
                            {{ field }}
                            <!--  muestra los errores que halla en los fields -->
                            {% if field.errors %}
                                <p class="text-danger">
                                    {% for error in field.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </p>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button class="btn btn-primary m-b pull-right" type="submit" name="preregistro_form">Regístrate
                    </button>
                </form>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block scripts %}

{% endblock %}