{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}
    Title
{% endblock %}


{% block styles %}

{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                {% for preregistro in preregistros %}
                    <a href="{% url 'preregistros_app:detalle_preregistro' preregistro.id %}">
                        <div class="list-group-item">
                            <div class="row-picture">
                                <img class="circle" src="http://lorempixel.com/56/56/people/6" alt="icon">
                            </div>
                            <div class="row-content">
                                <h4 class="list-group-item-heading">{{ preregistro.nombre }}</h4>

                                <p class="list-group-item-text">{{ preregistro.fecha_preregistro|date }}</p>
                            </div>
                        </div>
                        <div class="list-group-separator"></div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}

{% endblock %}