{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}
    Noticias
{% endblock %}


{% block styles %}

{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-8 well">
            <form action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ noticia_form.media }}
                {% for field in noticia_form %}
                    <div class="form-group">
                        <p>{{ field.label }}</p>
                        {{ field }}
                    </div>
                {% endfor %}

                <button class="btn btn-info" type="submit" name="noticia_form">Crear Noticia</button>
            </form>
        </div>
    </div>
{% endblock %}


{% block scripts %}

{% endblock %}