{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}
    Noticias
{% endblock %}


{% block styles %}
    <style>
        .contenido img {
            width: 100%;
        }
    </style>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h1>{{ noticia.titulo }}
                <small>{{ noticia.fecha_creacion|date }}</small>
            </h1>

            <span class="contenido">
                {{ noticia.contenido|safe }}
            </span>
        </div>
    </div>
{% endblock %}


{% block scripts %}

{% endblock %}