{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}
    Noticias
{% endblock %}


{% block styles %}

{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h1>Noticias</h1>
            {% if perms.difusion.add_noticia %}
                <a class="btn btn-info" href="{% url 'difusion_app:crear_noticia' %}">Crear Noticia</a>
            {% endif %}
            <hr/>
            <div class="list-group">
                {% for noticia in noticias %}
                    <a href="{% url 'difusion_app:detalle_noticia' noticia.id %}">
                        <div class="list-group-item">
                            <div class="row-picture">
                                <i class="mdi-action-info-outline"></i>
                            </div>
                            <div class="row-content">
                                <h4 class="list-group-item-heading">
                                    {{ noticia.titulo }}
                                    {% if perms.difusion.add_noticia %}
                                        <a class="pull-right" href="{% url 'difusion_app:editar_noticia' noticia.id %}">Editar</a>
                                    {% endif %}
                                </h4>

                                <p class="list-group-item-text">{{ noticia.fecha_creacion|date }}</p>
                            </div>
                        </div>
                    </a>
                    <div class="list-group-separator"></div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}

{% endblock %}