{% extends 'base.html' %}

{% block title %}
    Editar Miembro
{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}

    <div class="row row-centered">
        <div class="col-md-4 col-centered well">
            {% if miembro_form %}
                <h5>{{ Error }}</h5>
                <form method="post" accept-charset="utf-8" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% for field in miembro_form %}
                        <div class="form-group">
                            <!-- Render the field label tag -->
                            {{ field.label }}
                            {{ field }}
                            <!--  muestra los errores que halla en los fields -->
                            {% if field.errors %}
                                <p class="text-danger">
                                    {% for error in field.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </p>
                            {% endif %}
                        </div>
                    {% endfor %}
                    Password
                    <input id="password" type="password" class="form-control" name="new_password"
                           placeholder="Nueva Contrasena"/>
                    <button class="btn btn-danger m-b" type="submit" name="borrar_miembro">Eliminar</button>
                    <button class="btn btn-primary m-b pull-right" type="submit" name="miembro_form">Guardar</button>
                </form>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block scripts %}

{% endblock %}