{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}
    Gestión de Miembros
{% endblock %}


{% block styles %}

{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                {% for miembro in miembros %}
                    <a href="{% url 'miembros_app:editar_miembro' miembro.id %}">
                        <div class="list-group-item">
                            <div class="row-picture">
                                <img class="circle" src="http://lorempixel.com/56/56/people/6" alt="icon">
                            </div>
                            <div class="row-content">
                                <h4 class="list-group-item-heading">{{ miembro.get_full_name }}</h4>

                                <p class="list-group-item-text">{{ miembro.matricula }}</p>
                            </div>
                        </div>
                        <div class="list-group-separator"></div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}

{% endblock %}