{% extends 'base.html' %}

{% block title %}
Inicia Sesión
{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}

    <div class="row row-centered">
        <div class="col-md-4 col-md-offset-1 well">
            <h2>Inicia Sesión</h2>
            <h5>{{ Error }}</h5>
            <form method="post" accept-charset="utf-8" enctype="multipart/form-data">
                {% csrf_token %}

                {% for field in login_form %}
                    <div class="form-group">
                        {% if field != login_form.recordarme %}
                            <!-- Render the field label tag -->
                                {{ field }}
                            <!--  muestra los errores que halla en los fields -->
                            {% if field.errors %}
                                <p class="error">
                                {% for error in field.errors %}
                                    {{ error }}
                                {% endfor %}
                                </p>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
                <button class="btn btn-primary m-b pull-right" type="submit" name="login_form">Inicia Sesión</button>
            </form>
        </div>
        <div class="col-md-4 col-md-offset-2 well">
            <h2>Registrate</h2>
            <h5>{{ Error }}</h5>
            <form method="post" accept-charset="utf-8" enctype="multipart/form-data">
                {% csrf_token %}

                {% for field in signup_form %}
                    <div class="form-group">
                        <!-- Render the field label tag -->
                            {{ field }}
                        <!--  muestra los errores que halla en los fields -->
                        {% if field.errors %}
                            <p class="error">
                            {% for error in field.errors %}
                                {{ error }}
                            {% endfor %}
                            </p>
                        {% endif %}
                    </div>
                {% endfor %}
                {% comment %}
                <input type='file' onchange="upload_img(this);" />
                <img id="img_id" src="" style="width: 100px"/>
                <script type="text/javascript">
                    function upload_img(input) {
                        if (input.files && input.files[0]) {
                            var reader = new FileReader();

                            reader.onload = function (e) {
                                $('#img_id').attr('src', e.target.result);
                            }

                            reader.readAsDataURL(input.files[0]);
                        }
                    }
                </script>
                {% endcomment %}
                <button class="btn btn-primary m-b pull-right" type="submit" name="signup_form">Regístrate</button>
            </form>
        </div>
    </div>

{% endblock %}

{% block scripts %}

{% endblock %}