{% extends 'base.html' %}

{% block title %}
    Crear Evento
{% endblock %}

{% block styles %}
    {{ evento_form.media }}
{% endblock %}

{% block content %}

    <div class="row row-centered">
        <div class="col-md-4 col-centered well">

            <h5>{{ Error }}</h5>

            <form method="post" accept-charset="utf-8" enctype="multipart/form-data">
                {% csrf_token %}
                {{ evento_form.as_p }}
                <button class="btn btn-danger m-b" type="submit" name="borrar_evento">Eliminar</button>
                <button class="btn btn-primary m-b" type="submit" name="evento_form">Guardar</button>
            </form>
        </div>
    </div>

{% endblock %}

{% block scripts %}

{% endblock %}