{% extends 'base.html' %}

{% block title %}
    Editar Evento
{% endblock %}

{% block styles %}
    {{ evento_form.media }}
{% endblock %}

{% block content %}

    <div class="row row-centered">
        <div class="col-md-4 col-centered well">
            {% if evento_form %}
                <h5>{{ Error }}</h5>
                <form method="post" accept-charset="utf-8" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% for field in evento_form %}
                        <div class="form-group">
                            <!-- Render the field label tag -->
                            {{ field.label }}
                            {{ field }}
                            <!--  muestra los errores que halla en los fields -->
                            {% if field.errors %}
                                <p class="text-danger">
                                    {% for error in field.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </p>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button class="btn btn-danger m-b" type="submit" name="borrar_evento">Eliminar</button>
                    <button class="btn btn-primary m-b" type="submit" name="evento_form">Guardar</button>
                </form>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block scripts %}

{% endblock %}