{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}
    Eventos Administrativos
{% endblock %}


{% block styles %}

{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h1>Eventos Administrativos</h1>
            <a href="{% url 'eventos_app:crear_evento_admin' %}" class="btn btn-primary">Crear Evento</a>
            <hr/>
            <div class="list-group">
                {% for evento in eventos_admin %}
                    <a href="{% url 'eventos_app:editar_evento_admin'  evento.id %}">
                        <div class="list-group-item">
                            <div class="row-picture">
                                <i class="mdi-action-event"></i>
                            </div>
                            <div class="row-content">
                                <h4 class="list-group-item-heading">{{ evento.titulo }}</h4>
                                <h4 class="list-group-item-text">{{ evento.descripcion }}</h4>

                                <p class="list-group-item-text">{{ evento.fecha|date }}</p>
                            </div>
                        </div>
                    </a>
                    <div class="list-group-separator"></div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}

{% endblock %}