{% extends 'base.html' %}

{% block title %}
    Inscripcion
{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}

    <div class="row row-centered">
        <div class="col-sm-10 col-centered">
            <h1>Inscripcion</h1>

            <div class="col-sm-4">
                <h3>Equipo: {{ inscripcion.equipo.nombre }}</h3>
                <h5>Universidad: {{ inscripcion.equipo.universidad }}</h5>
                <h5>Asesor: {{ inscripcion.equipo.asesor }}</h5>
                <h5>Nombre del Prototipo: {{ inscripcion.equipo.nombre_prototipo }}</h5>

                <h3>Participantes: </h3>
                {% for p in participantes %}
                    <h5>{{ p.nombre }} ({{ p.email }})</h5>
                {% endfor %}

            </div>
            <div class="col-sm-4">
                <h3>Competencia: {{ inscripcion.competencia.titulo }}</h3>
                <h5>Categoria: {{ inscripcion.categoria.nombre }}</h5>
            </div>

            <div class="col-sm-4">
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="0" name="hidden"/>
                    <button name="inscribir_equipo" type="submit" class="btn btn-primary">Inscribir Equipo</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

{% endblock %}