{% extends 'base.html' %}

{% block title %}
    Inscripción
{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}

    <div class="row">
        <form method="post" accept-charset="utf-8" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-4 col-md-offset-1 well">
            {% if inscripcion_form %}
                <h2>Inscripción</h2>
                <h5>{{ Error }}</h5>

                    {% for field in inscripcion_form %}
                        <div class="form-group">
                            <!-- Render the field label tag -->
                            {{ field.label }}
                            {{ field }}
                            <!--  muestra los errores que halla en los fields -->
                            {% if field.errors %}
                                <p class="text-danger">
                                    {% for error in field.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </p>
                            {% endif %}
                        </div>
                    {% endfor %}

                    <button class="btn btn-primary m-b pull-right" type="submit" name="inscripcion_form">Inscribir
                        Equipo
                    </button>

            {% endif %}
        </div>
            <div class="col-md-4 col-md-offset-2">
                <div class="integrantes">
                    <h4>Integrantes del Equipo</h4>
                    <button class="btn btn-info btn-xs btn-agregar">+ Agregar</button>
                    <div class="integrante well">
                        <i class="btn-eliminar mdi-content-remove" style="float: right; cursor: pointer"></i>

                        <div class="form-group">
                            Nombre
                            <input class="form-control" type="text" name="nombre_integrante"/>
                        </div>
                        <div class="form-group">
                            Email
                            <input class="form-control" type="email" name="email_integrante"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {

            var $integrante = $('.integrante').clone();

            $('.btn-agregar').click(function (e) {
                $integrante.clone().appendTo('.integrantes');
                e.preventDefault();
                e.stopPropagation();
            });

            $(document).on('click', '.btn-eliminar', function (e) {
                $(this).parent('.integrante').remove();
                e.preventDefault();
                e.stopPropagation();
            });
        });
    </script>

{% endblock %}