{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}
    Inscripciones
{% endblock %}


{% block styles %}

{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                {% if inscripciones.count == 0 %}
                    <h4>No hay inscripciones pendientes</h4>
                {% endif %}
                {% for inscripcion in inscripciones %}
                    <a href="{% url 'cir_app:detalle_inscripcion' inscripcion.id %}">
                        <div class="list-group-item">
                            <div class="row-picture">
                                <i class="mdi-social-people"></i>
                            </div>
                            <div class="row-content">
                                <h4 class="list-group-item-heading">{{ inscripcion.equipo.nombre }}</h4>

                                <p class="list-group-item-text">Competencia: {{ inscripcion.competencia.titulo }}</p>

                                <p class="list-group-item-text">Categoria: {{ inscripcion.categoria.nombre }}</p>
                            </div>
                        </div>
                        <div class="list-group-separator"></div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}

{% endblock %}