{% load staticfiles %}
<!doctype html>
<html lang="es-MX">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | CPR Stage</title>

    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="{% static 'base/js/jquery.datetimepicker.js' %}"></script>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Include roboto.css to use the Roboto web font, material.css to include the theme and ripples.css to style the ripple effect -->
    <link href="{% static 'main/css/roboto.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/material.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/material-fullpalette.min.css' %}" rel="stylesheet">
    <link href="{% static 'main/css/ripples.min.css' %}" rel="stylesheet">

    <link href="//fezvrasta.github.io/snackbarjs/dist/snackbar.min.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% static 'base/css/style.css' %}" rel="stylesheet">

    {% block styles %}

    {% endblock %}

    <style>
        body{
            overflow-x: hidden;
        }
    </style>

</head>

<body>

    <!-- Your site -->

    <div class="navbar navbar-default navbar-material-pink-900">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'main_app:index' %}">CPR Stage</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">

                {% if perms.preregistros.add_preregistro %}
                    <li class="dropdown">
                        <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle"
                           data-toggle="dropdown">Administración <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'miembros_app:gestion_miembros' %}">Gestionar Miembros</a></li>
                            <li><a href="{% url 'preregistros_app:preregistros' %}">Ver Preregistros</a></li>
                            <li><a href="{% url 'eventos_app:eventos_admin' %}">Eventos Administrativos</a></li>
                        </ul>
                    </li>
                {% endif %}

                {% if perms.difusion.add_noticia %}
                    <li class="dropdown">
                        <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle"
                           data-toggle="dropdown">Difusión <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'difusion_app:ver_noticias' %}">Ver Noticias</a></li>
                            <li><a href="{% url 'difusion_app:crear_noticia' %}">Crear Noticia</a></li>
                        </ul>
                    </li>
                {% endif %}

                {% if perms.difusion.add_competencia %}
                    <li class="dropdown">
                        <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle"
                           data-toggle="dropdown">CIR <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'cir_app:inscribirse' %}">Ver equipos inscritos</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'cir_app:inscribirse' %}">Inscripción a Competencia</a></li>
                {% if user.is_authenticated %}
                     <li class="dropdown">
                         <a href="" class="dropdown-toggle" data-toggle="dropdown">{{ user.nombre }}</a>
                         <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)">Mi perfil</a></li>
                             <li><a href="{% url 'miembros_app:editar_miembro' user.id %}">Configuración</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'miembros_app:logout' %}">Salir</a></li>
                         </ul>
                     </li>
                {% else %}
                    <li><a href="{% url 'preregistros_app:crear' %}">Pre Registro</a></li>
                    <li><a href="{% url 'miembros_app:login' %}">Iniciar Sesión</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="page-wrapper" style="padding: 50px">

    {% block content %}

    {% endblock %}

    </div>



    <!-- Your site ends -->

    <script src="{% static 'main/js/ripples.min.js' %}"></script>
    <script src="{% static 'main/js/material.min.js' %}"></script>

    <script src="//fezvrasta.github.io/snackbarjs/dist/snackbar.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/noUiSlider/6.2.0/jquery.nouislider.min.js"></script>

    <script>
        $(document).ready(function() {
            // This command is used to initialize some elements and make them work properly
            $.material.init();
        });
    </script>

    {% block scripts %}

    {% endblock %}

</body>
</html>