{% extends 'base.html' %}

{% block title %}
Inicio
{% endblock %}

{% block styles %}
    <style>
        .div-noticia {
            background-color: #FAFAFA;
            padding: 5px 20px;
            box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
        }

    </style>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-12">
            <div class="div-noticia">
                <h1>
                    Bienvenido
                    {% if user.is_authenticated %}
                        {{ user.nombre }}
                    {% endif %}
                </h1>
                <p>La plataforma de gestión de la Comunidad Politécnica de Robótica - IPN</p>
            </div>
        </div>
    </div>
    <hr/>
    <h1>Noticias, competencias e información</h1>
    {% for noticia in noticias %}
        <div class="row">
            <div class="col-md-8 div-noticia">

                <h2>
                    <a href="{% url 'difusion_app:detalle_noticia' noticia.id %}">{{ noticia.titulo }}</a>
                    <small>{{ noticia.fecha_creacion|date }}</small>
                </h2>

            <span class="contenido">
                {{ noticia.contenido|safe }}
            </span>
            </div>
        </div>
        <hr/>
    {% endfor %}
{% endblock %}

{% block scripts %}

    <script>
        $(document).ready(function () {
            $('.div-noticia img').addClass('img-responsive');
        });
    </script>
{% endblock %}